@import "tailwindcss";

/* Use Google Poppins as the default font for the app */
:root {
  --app-sans: "Poppins", ui-sans-serif, system-ui, -apple-system, "Segoe UI",
    Roboto, "Helvetica Neue", Arial;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: var(--app-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reusable indigo scrollbar styles for overflowed containers */
.scrollbar-indigo {
  /* Firefox */
  scrollbar-color: #4f46e5 transparent; /* thumb track */
  scrollbar-width: thin;
}

/* Webkit (Chrome, Edge, Safari) */
.scrollbar-indigo::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.scrollbar-indigo::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar-indigo::-webkit-scrollbar-thumb {
  background-color: #4f46e5; /* indigo-600 */
  border-radius: 9999px;
  border: 2px solid transparent; /* give thumb some padding look */
  background-clip: content-box;
}
.scrollbar-indigo::-webkit-scrollbar-thumb:hover {
  background-color: #4338ca; /* indigo-700 */
}
